* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: aliceblue;
    height: 100vh;
}
.title {
    font-family: fantasy;
    text-align: center;
    font-size: 2em;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 2% 0 2%;
    height: 100vh;
}
.slider {
    border: 1rem solid #fff;
    background-color: #fff;
    width: 80vh;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1f 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.item {
    align-items: center;
    opacity: 0;
    grid-row-start: 1;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 1s ease;
}
img {
    width: 100%;
    height: 100%;
}
.description {
    align-self: flex-start;
    padding-top: 1rem;
    font-size: 0.7rem;
    width: 50%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav {
    z-index: 100;
    display: flex;
    margin-left: auto;
    justify-content: space-around;
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 4;
    grid-column-end: 6;
    margin-top: auto;
}

input[name="opt"] {
    display:  none;
 }

.btn {
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 0.2rem;
    background-color: gray;
    border-radius: 50%;
    cursor: pointer;
}
.btn:hover {
    background-color: black;
}
.btn:active {
    background: whitesmoke;
}

#mem1:checked ~ .item1 {
    opacity: 1;
}
#mem1:checked ~ .nav .btn1{
    outline: 0.1rem solid black;
    background-color: #fff;
}

#mem2:checked ~ .item2 {
    opacity: 1;
}
#mem2:checked ~ .nav .btn2{
    outline: 0.1rem solid black;
    background-color: #fff;
}

#mem3:checked ~ .item3 {
    opacity: 1;
}
#mem3:checked ~ .nav .btn3{
    outline: 0.1rem solid black;
    background-color: #fff;
}

#mem4:checked ~ .item4 {
    opacity: 1;
}
#mem4:checked ~ .nav .btn4{
    outline: 0.1rem solid black;
    background-color: #fff;
}

#mem5:checked ~ .item5 {
    opacity: 1;
}
#mem5:checked ~ .nav .btn5{
    outline: 0.1rem solid black;
    background-color: #fff;
}

#mem6:checked ~ .item6 {
    opacity: 1;
}
#mem6:checked ~ .nav .btn6{
    outline: 0.1rem solid black;
    background-color: #fff;
}

#mem7:checked ~ .item7 {
    opacity: 1;
}
#mem7:checked ~ .nav .btn7{
    outline: 0.1rem solid black;
    background-color: #fff;
}

#mem8:checked ~ .item8 {
    opacity: 1;
}
#mem8:checked ~ .nav .btn8{
    outline: 0.1rem solid black;
    background-color: #fff;
}

#mem9:checked ~ .item9 {
    opacity: 1;
}
#mem9:checked ~ .nav .btn9{
    outline: 0.1rem solid black;
    background-color: #fff;
}

#mem10:checked ~ .item10 {
    opacity: 1;
}
#mem10:checked ~ .nav .btn10{
    outline: 0.1rem solid black;
    background-color: #fff;
}